@mixin box-style($bg-color:orange, $font-color:black){
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  color: $font-color;
}

.one{
  @include box-style(red, white)
}

.two{
  @include box-style($font-color: pink)
}